body{
    margin: 0px;
}

p{
    margin: 0px;
}

.box{
    position: relative;
    padding-top: 76px;
    background-color: #393a3f;
}

.picture{
    width: 100%;
    height: 280px;
}

.img-show{
    overflow: hidden;
}

.person-info{
    position: absolute;
    width: 100%;
    height: 88px;
    top: 302px;
    z-index: 99;
}

.person-info-name{
    float: right;  
    color: white;
    position: relative;
    font-size: 15px;
    top: 22px;
}

.person-info-headpic{
    width: 85px;
    height: 85px;
    float: right;
    background-color: white;
    margin: 0px 12px 0px 14px;
    padding: 1px;
    border: 1px solid #bfbfbf;
}

.words{
    width: 100%;
    height: 302px;
    padding-top: 38px;
    position: relative;
    background-color: #f8f8f8;
}

.words-single{
    margin: 12px 12px 9px 12px; 
    font-family: '微软雅黑';
    font-size: 15px;
}

.words-headpic{
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 8px;
}

.words-right{
    width: 298px;
    float: left;
}

.words-name{
    color: #4b618e;
    position: relative;
    margin-top: 2px;
}

.words-essay{
    margin: 5px 0px 13px 0px;
}

.words-picture{
    margin-bottom: 14px;
}

.words-url{
    margin-bottom: 14px;
    height: 52px;
    background-color: #ececec;
}

.words-footer{
    height: 19px;
}

.words-footer-timeago{
    font-size: 13px;
    float: left;
}